{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <h2>Mostrando Clientes</h2>

  <table class="table">
    <thead>
      <tr>
        <th>RUT</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>password1</th>
        <th>password2</th>
        <th>Modificar Cliente</th>
        <th>Eliminar Cliente</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
      <tr>
        <td>{{ cliente.rut }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.correo }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.password1 }}</td>
        <td>{{ cliente.password2 }}</td>
        {% if user.is_authenticated and user.is_superuser %}
        <td>
          <a
            href="{% url 'form_mod_cliente' cliente.rut %}"
            class="btn btn-primary"
          >
            Modificar</a
          >
        </td>
        <td>
          <a
            href="{% url 'form_del_cliente' cliente.rut %}"
            class="btn btn-danger"
          >
            Eliminar</a
          >
        </td>
        {% else %}
        <td><a href="#">No tiene permisos para modificar</a></td>
        <td>
          <a href="#" style="color: red">No tiene permisos para eliminar</a>
        </td>
        {% endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
  <a href="{% url 'form_crear_cliente' %}" class="btn btn-primary"
    >Crear un cliente</a
  >
  {% endif %}
  <a href="{% url 'index' %}" class="btn btn-success">Volver a Home</a>
</div>

{% endblock %}
