{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container"style="height:110vh">
  <h2>Mostrando Clientes</h2>

  <table class="table">
    <thead>
      <tr>
        <th>username</th>
        <th>email</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>Modificar Cliente</th>
        <th>Eliminar Cliente</th>
      </tr>
    </thead>
    <tbody>
      {% for item in userr %}
      <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        {% if user.is_authenticated and user.is_superuser %}
        <td>
          <a
            href="{% url 'form_mod_cliente' item.id %}"
            class="btn btn-primary"
          >
            Modificar</a
          >
        </td>
        <td>
          <a
            href="{% url 'form_del_cliente' item.id %}"
            class="btn btn-danger"
          >
            Eliminar</a
          >
        </td>
        {% else %}
        <td><a href="#">No tiene permisos para modificar</a></td>
        <td>
          <a href="#" style="color: red">No tiene permisos para eliminar</a>
        </td>
        {% endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
  <a href="{% url 'form_crear_cliente' %}" class="btn btn-primary"
    >Crear un cliente</a
  >
  {% endif %}
  <a href="{% url 'index' %}" class="btn btn-success">Volver a Home</a>
</div>

{% endblock %}
