{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Contenido Propio de la Screen-->
<div class="center">
  <h1 style="text-align: center">Contactanos</h1>
  <hr />
  <h5>Ingresa tu mensaje junto a tus datos personales y te contactaremos</h5>

  <!-- FORMULARIO -->
  <form id="formulario-contactanos" action="" method="post">
    {% csrf_token %}
    <label>Nombres</label>
    <input type="text" name="fullNom" required placeholder="Nombres" />

    <label>Apellidos</label>
    <input type="text" name="fullAp" required placeholder="Apellidos" />

    <label>Correo Electrónico: </label>
    <input type="text" name="email" required placeholder="Correo electrónico" />

    <label>Ingrese su mensaje</label>
    <textarea name="mensaje" rows="4"></textarea>

    <div id="formButtons">
      <button id="buttonEnviar">Enviar</button>
    </div>
  </form>
</div>

{% endblock %}
