{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Contenido de la pagina -->
<div class="container">
  <h2>Creando Cliente</h2>

  <div class="row">
    <form method="POST" action="#" id="formulario">
      {% csrf_token %}

      <div class="form-group">
        {{ cliente_form.rut.label}} {{ cliente_form.rut}}
      </div>

      <div class="form-group">
        {{ cliente_form.username.label}} {{ cliente_form.username}}
      </div>

      <div class="form-group">
        {{ cliente_form.nombre.label}} {{ cliente_form.nombre}}
      </div>

      <div class="form-group">
        {{ cliente_form.correo.label}} {{ cliente_form.correo}}
      </div>

      <div class="form-group">
        {{ cliente_form.telefono.label}} {{ cliente_form.telefono}}
      </div>

      <div class="form-group">
        {{ cliente_form.direccion.label}} {{ cliente_form.direccion}}
      </div>

      <div class="form-group">
        {{ cliente_form.password1.label}} {{ cliente_form.password1}}
      </div>

      <div class="form-group">
        {{ cliente_form.password2.label}} {{ cliente_form.password2}}
      </div>

      <br /><br />
      <input type="submit" class="btn btn-primary" value="Enviar" />
      <a href="{% url 'clientes' %}" class="btn btn-success">Volver</a>
    </form>
  </div>
</div>

{% endblock %}
