{% extends 'base.html' %} {% load static %} {% block content %}
<!-- CONTENIDO DE GALERIA.HTML-->

<!-- Título y boton de carrito-->
<h1>Galeria de productos</h1>

<button
  id="botonAbrecarrito"
  data-toggle="modal"
  data-target="#modalCarrito"
  onclick="dibujadoraDeTablaEnCarrito()"
>
  Comprar carrito
</button>

<!-- Grid de productos-->
<div id="tabla-precios" style="height:100vh">
  {% for producto in productos %}
  <div class="precio-col">
    <div class="precio-col-header">
      <p id="productoPrecio1" style="font-size: 26px; margin-bottom: 0px">
        {{producto.precio}}
      </p>
      <p id="productoNombre1">{{producto.nombre}}</p>
    </div>
    <div class="precio-col-features">
      <img src="{% static 'img/repizas.jpg' %}" />
      <p>{{producto.descripcion}}</p>
      <button
        class="botonAleatorio"
        data-dismiss="modal"
        onclick="agregarAlCarrito(productoNombre1, productoPrecio1)"
      >
        Añadir al carrito
      </button>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
