{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container"style="height:110vh">
  <h2>Mostrando Productos</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripcion</th>
        <th>Imagen</th>
        <th>Modificar Producto</th>
        <th>Eliminar Producto</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>
          <img src="/media/productos/logo.jpg" style="max-height: 300px" />
        </td>
        {% if user.is_authenticated %}
        <td>
          <a
            href="{% url 'form_mod_producto' producto.idProducto %}"
            class="btn btn-primary"
          >
            Modificar</a
          >
        </td>
        <td>
          <a
            href="{% url 'form_del_producto' producto.idProducto %}"
            class="btn btn-danger"
          >
            Eliminar</a
          >
        </td>
        {% else %}
        <td><a href="#">No tiene permisos para modificar</a></td>
        <td>
          <a href="#" style="color: red">No tiene permisos para eliminar</a>
        </td>
        {% endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if user.is_authenticated %}
  <a href="{% url 'form_crear_producto' %}" class="btn btn-primary"
    >Crear un producto</a
  >
  {% endif %}
  <a href="{% url 'index' %}" class="btn btn-success">Volver a Home</a>
</div>

{% endblock %}
