{% extends 'base.html' %} {% load static %} {% block content %}
<!-- CONTENIDO DE SOMOS.HTML-->
<div class="center" style="height:100vh">
  <h1 style="text-align: center">Quienes somos</h1>
  <p class="contentText">
    Vision: Ser una tienda reconocida por la calidad de sus productos.
  </p>
  <p class="contentText">
    Mision: Vender productos novedosos, a buenos precios y con despacho sin
    costo.
  </p>
  <p class="contentText">CONTACTO: mail.mail@mail.mail</p>
  <p class="contentText">DIRECCION: Inserte direccion #123, comuna, ciudad.</p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/watch?v=bDy5QHmR-Kc"
    frameborder="0"
  ></iframe>
  <img id="imagenUnica" src="{% static 'img/suculentas.jpg' %}" />
</div>

{% endblock %}
